#mainheader {
  color: white;
  background-color: #303336;
  padding: 20px;
  border-radius: 5px;
}

#header {
  color: white;
  background-color: #49545f;
  padding: 20px;
  border-radius: 5px;
}

#gh {
  justify-self: fled-end;
  background-color: #72548f;
  margin: 8px 0.1px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  /* position: fixed; */
  /* top: 0;
  z-index: 100; */
}

#breads {
  background-color: #03dac6;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
